{% extends 'UserProfiles/student/student_profile_base.html' %}

{% block title %} Leader Board {% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col">
            <h3>Leader Board</h3>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <table class="table">
                <tr>
                    <th>
                        Rank
                    </th>
                    <th>
                        Nickname
                    </th>
                    <th>
                        Score
                    </th>
                </tr>
                {% for student in students %}
                    <tr>
                        <td>1</td>
                        <td>{{student.nickname}}</td>
                        <td>{{student.game_data[0].score}}</td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
</div>

{% endblock %}