{% extends 'UserProfiles/admin/admin_profile_base.html' %}

{% block title %} Stats {% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row justify-content-md-center p-2">
        <div class="col col-md-auto">
            <h3>Check Stats</h3>
        </div>
    </div>
    <div class="row p-2">
        <div class="col col-md-auto">
            <label for="class" class="form-label">Choose a class:</label>
        </div>
        <div class="col">
            <select id="class" name="class" class="form-select" aria-label="Default">
                {% for class in classes %}
                    <option value={{class.id}}>{{class.name}}</option>
                {% endfor %}
            </select>
        </div>
        <div class="col">
            <button onclick="getClassStats();" class="btn btn-primary">Get Data</button>
        </div>
    </div>
    <div class="row p-2">
        <div class="col">
            <table id="students" class="table table-hover"></table>
        </div>
    </div>
</div>


<script src="/static/javascript/class_stats.js"></script>
{% endblock %}