{% extends 'UserProfiles/admin/admin_profile_base.html' %}

{% block title %} Home {% endblock %}

{% block content %}
<h3>Home</h3>
<hr/>
    <form action="/create_class" method="post" enctype="multipart/form-data">
        <label for="class_name">Name</label>
        <input type="text" name="class_name" id="class_name" required/></br>
        <label for="class_json">Create a new class</label>
        <input type="file" name="class_json" id="class_json" required/><br/>
        <input type="submit" name="Submit"/>
    </form><hr/>
<div id="classes">
    {% for class in classes %}
    <div id="{{class.id}}">{{class.name}}&emsp;Status: {{class.type}}&emsp;<button>Archive</button>&emsp;<button>Delete</button></div><br/>
    {% endfor %}
</div>
 {% endblock %}