{% extends 'UserProfiles/admin/admin_profile_base.html' %}

{% block title %} Home {% endblock %}

{% block content %}
 <div class="container-fluid">
     <div class="row justify-content-md-center p-3">
         <div class="col col-lg-1">
             <h3>Home</h3>
         </div>
     </div>
        <div class="row">
            <div class="col ps-5 pe-5 border-end border-primary">
                <form id='class-form' action="/create_class" method="post" enctype="multipart/form-data">
                    <div class="row mb-3">
                        <h4>Create New Class</h4>
                    </div>
                    <div class="row mb-3">
                        <label for="class_name" class="col-sm-2 col-form-label">Name</label>
                        <div class="col-sm-10">
                            <input type="text" name="class_name" id="class_name" required/>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label for="class_json" class="col-sm-2 col-form-label form-label">Json File</label>
                        <div class="col-sm-10">
                            <input type="file" name="class_json" id="class_json" required/>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-12">
                            <input type="submit" name="Submit" class="btn btn-primary"/>
                        </div>
                    </div>
                </form>
                {% for class in classes %}
                    <div class="row p-2" id="{{class.id}}">
                        <div class="col">
                            {{class.name}}
                        </div>
                        <div class="col">
                            Status: {{class.type}}
                        </div>
                        <div class="col">
                            <button onclick="archiveClass(this.parentNode.parentNode.id);" class="btn btn-outline-warning">Archive</button>
                        </div>
                        <div class="col">
                            <button onclick="deleteClass(this.parentNode.parentNode.id);" class="btn btn-outline-danger">Delete</button>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <div class="col ps-5 pe-5 border-primary border-start">
                <form action="/addGame" method="post" enctype="multipart/form-data">
                    <div class="row mb-3">
                        <h4>Create New Level</h4>
                    </div>
                    <div class="row mb-3">
                        <label class="col-sm-2 col-form-label">Next Level:</label>
                        <div class="col-sm-10">
                            <label>{{l}}</label>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label for="level_answer" class="col-sm-2 col-form-label">Set Answer</label>
                        <div class="col-sm-10">
                            <input type="number" name="level_answer" id="level_answer" required/>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-12">
                            <input type="submit" name="Submit" class="btn btn-primary"/>
                        </div>
                    </div>
                </form>

                <div id="levels">
                    {% for level in levels %}
                        <div class="row p-2" id="{{level.id}}">
                            <div class="col">
                                Level {{level.level}}
                            </div>
                            <div class="col">
                                Answer {{level.answer}}
                            </div>
                            <div class="col">
                                <button onclick="deleteClass(this.parentNode.parentNode.id);" class="btn btn-outline-danger">Delete</button>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

<div id="result"></div>
<script src="/static/javascript/home.js"></script>
<link rel="stylesheet" href="/static/css/home.css">
 {% endblock %}