{% extends 'UserProfiles/admin/admin_profile_base.html' %}

{% block title %} Home {% endblock %}

{% block content %}
<h3>Home</h3>
<hr/>
    <form action="/create_class" method="post" enctype="multipart/form-data">
        <label for="class_name">Name</label>
        <input type="text" name="class_name" id="class_name" required/></br>
        <label for="class_json">Create a new class</label>
        <input type="file" name="class_json" id="class_json" required/><br/>
        <input type="submit" name="Submit"/>
    </form><hr/>
    <div id="classes">
    {% for class in classes %}
    <div id="{{class.id}}">{{class.name}}&emsp;
        Status: {{class.type}}&emsp;
        <button onclick="archiveClass(this.parentNode.id);">Archive</button>&emsp;
        <button onclick="deleteClass(this.parentNode.id);">Delete</button>
    </div><br/>
    {% endfor %}
    </div>

    <form action="/addGame" method="post" enctype="multipart/form-data">
        <label for="level_answer">Answer</label>
        <input type="number" name="level_answer" id="level_answer" required/><br/>
        <input type="submit" name="Submit"/>
    </form><hr/>
    {% for level in levels %}
    <div id="{{level.id}}">{{level.level}}&emsp;
        <button onclick="deleteClass(this.parentNode.id);">Delete</button>
    </div><br/>
    {% endfor %}


<div id="result"></div>
<script src="/static/javascript/home.js"></script>
 {% endblock %}