<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head>
    <title>User Profile</title>
</head>
<body>
    <h1>Hey, {{ name }} </h1>
<hr/>
    <form action="/create_class" method="post" enctype="multipart/form-data">
        <label for="class_name">Name</label>
        <input type="text" name="class_name" id="class_name" required/></br>
        <label for="class_json">Create a new class</label>
        <input type="file" name="class_json" id="class_json" required/><br/>
        <input type="submit" name="Submit"/>
    </form>
<div id="classes">
    {% for class in classes %}
        {{class.name}}</br>
    {% endfor %}
</div>
</body>
</html>

<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>User Profile</title>-->
<!--</head>-->
<!--<html lang="en" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">-->
<!--<link rel = "stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">-->
<!--<div class ="card">-->
<!--  <img src="img.jpg" alt="" style="width:100%">-->
<!--  <h1>Username</h1>-->
<!--  <p class = "title"></p>-->
<!--  <a href="#"><i class="Username ID #"></i></a>-->
<!--<div>-->

<header class="Admins">
  <nav>
    <a href="#0" aria-label="forecastr logo" class="logo">
      <svg width="140" height="49">
        <use xlink:href="#logo"></use>
      </svg>
    </a>
    <button class="toggle-mob-menu" aria-expanded="false" aria-label="open menu">
      <svg width="20" height="20" aria-hidden="true">
        <use xlink:href="#down"></use>
      </svg>
    </button>
    <ul class="admin-menu">
      <li class="menu-heading">
        <h3>Admin</h3>
      </li>
      <li>
        <a href="#0">
          <svg>
            <use xlink:href="#pages"></use>
          </svg>
          <span>Pages</span>
        </a>
      </li>

<section class="search-and-user">
  <form>
    <input type="search" placeholder="Search Pages...">
    <button type="submit" aria-label="submit form">
      <svg aria-hidden="true">
        <use xlink:href="#search"></use>
      </svg>
    </button>
  </form>
  <div class="admin-profile">
    <span class="greeting">...</span>
    <div class="notifications">
      <span class="badge">...</span>
      <svg>
        <use xlink:href="#users"></use>
      </svg>
    </div>
  </div>
</section>
